* {
    box-sizing: border-box;
}

#timeLeft{
    position: fixed;
    width: 175px;
    height: auto;
    background: black;
    border: 2px solid silver;
    margin-left: 680px;
    margin-top: -50px;
    font-weight: bold;
}

body{
    background-image: url("../images/bg.png");
}

.titleBox{
    background-image: url("../images/box.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: lightblue;
    font-weight: bolder;

}
.jumbotron{

    border: 2px solid darkgrey;

}

.section{
    border: 2px solid orange;

}

.startButton{
    height: 100px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid darkgreen;
    background-color: green;
    font-size: 36px;
}

.container{
    max-width: 960px;
    text-align: center;

}

.radio-inline{
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
}


@media only screen and (max-width: 990px) {
    #timeLeft{
        font-size: 14px;
        width: 100px;
        margin-left: 55%;
    }
}