* {
    box-sizing: border-box;
}

body{
    background-image: url("../images/back.jpg");
    background-size: 100%;

}

.radio-inline:hover{
        color: white;
        text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    
}

.titleBox{
    font-weight: bolder;

}
.jumbotron{
    opacity: 0.7;
    /* background-image: url("../images/bg.png"); */
    color: lightblue;
    border: 2px solid darkgrey;
    background-color: darkblue;
}

#timeLeft{
    position: fixed;
    width: 175px;
    height: auto;
    background: black;
    border: 2px solid silver;
    margin-left: 680px;
    margin-top: -50px;
    font-weight: bold;
    opacity: 1.0;
}

.section{
    border: 2px solid orange;

}

.startButton{
    height: 100px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid darkgreen;
    background-color: green;
    font-size: 36px;
}

.container{
    max-width: 960px;
    text-align: center;

}

.radio-inline{
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
}


@media only screen and (max-width: 990px) {
    #timeLeft{
        font-size: 14px;
        width: 100px;
        margin-left: 55%;
    }
}